@charset "UTF-8";
/* CSS Document */

body{
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, #121212),
		color-stop(0.8, #424242)
	);
	background-image: -o-linear-gradient(right bottom, #121212 0%, #424242 80%);
	background-image: -moz-linear-gradient(right bottom, #121212 0%, #424242 80%);
	background-image: -webkit-linear-gradient(right bottom, #121212 0%, #424242 80%);
	background-image: -ms-linear-gradient(right bottom, #121212 0%, #424242 80%);
	background-image: linear-gradient(to right bottom, #121212 0%, #424242 80%);
}

/*site container*/
.commento{
	width:50%;
	margin: 75 auto;
}

.header{

	font-family: 'Lato', sans-serif;
	background:#09F;
	width:100%;
	position:fixed;
	left:0;
	top: 0;
}	

h1{
	font-family: 'Lato', sans-serif;
	text-align:center;
	font-size:25px;
	color:#FFF;
	text-transform:uppercase;
	text-shadow:#000 0px 1px 5px;
	padding:30px 0px 0px 0px;
	margin:0px;
}

h1.guichb{

	font-family: 'Lato', sans-serif;
	text-align:center;
	font-size: 35px;
	text-transform:inherit;
	text-shadow: #000 0px 1px 5px;
	color:#FFF;
	padding:30px 0px 0px 0px;
	margin:2px;
	padding: 0 5;
}

p{
	font-family: 'Lato', sans-serif;
	font-size:22px;
	color:#FFF;
	text-shadow:#000 0px 1px 5px;
	margin-bottom:12px;
}

p2{
	font-family: 'Lato', sans-serif;
	font-size:13px;
	color:#FFF;
	text-shadow:#000 0px 1px 5px;
	margin-right:8px;
}

#gcom{
	color: #09F;
	background-color: #09F;
	height: 3px;
}

.form{
  width:100%;
}

textarea[name="comment_text"]{
	
	font-family: 'Lato', sans-serif;
	text-shadow:#000 0px 1px 5px;
	color:#6E6E6E;
	width:100%;
	padding:15px 0px 15px 8px;
	border-radius:5px;
	box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.2);
	border:1px solid rgba(0,0,0,1);
	margin-bottom:10px;
}

input[type="submit"]{

	font-family: 'Lato', sans-serif;
	font:25px;
	text-transform:inherit;
	text-shadow:#000 0px 1px 5px;
	color:#FFF;
	width:100%;
	padding:15px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
	background-image: -webkit-linear-gradient(#09F 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#09F 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#09F 0%, #1A878F 100%);
	background-image: linear-gradient(#09F 0%, #1A878F 100%);
	border:1px solid #000;
	opacity:0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	border-top:1px solid rgba(255,255,255,0.8)!important;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

#home{
	font-family: 'Lato', sans-serif;
	font:18px;
	color:#FFF;
	text-transform:inherit;
	text-shadow:#000 0px 1px 5px;
	width:5%;
	position:absolute;
	top:10%;
	right:5%;
	padding:10px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6E6E6E), to(#6E6E6E));
	background-image: -webkit-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: linear-gradient(#6E6E6E 0%, #1A878F 100%);
	border:1px solid #000;
	opacity:0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	border-top:1px solid rgba(255,255,255,0.8)!important;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

#com{
	font-family: 'Lato', sans-serif;
	font:18px;
	color:#FFF;
	text-transform:inherit;
	text-shadow:#000 0px 1px 5px;
	width:16%;
	position:absolute;
	top:12%;
	right:5%;
	padding:10px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6E6E6E), to(#6E6E6E));
	background-image: -webkit-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#6E6E6E 0%, #1A878F 100%);
	background-image: linear-gradient(#6E6E6E 0%, #1A878F 100%);
	border:1px solid #000;
	opacity:0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	border-top:1px solid rgba(255,255,255,0.8)!important;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

input:focus{
	box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.3);
}

input[type="submit"]:hover{
	opacity:1;
	cursor:pointer;
}

a:link{
	color:#FFFFFF;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}